<!doctype html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        King Ogunremi foundation
    </title>
  </head>
  <body class="">
    <span class="preheader">
        King Ogunremi foundation
    </span>
    <p>
        Hello {{user_name}}, 

        <br>
        <br>

        Your registration was successful. We'll be in touch.
        <br>
        Thank you. 
    </p>
  </body>
</html>
